extends layout

block includes
  script(src='/js/copy-button.js')
  script(src='/js/poll.js')

block content
  div(class='ui stackable grid')
    div(class='four wide column')
      h2 Hi!
      p You are currently logged in as #{username}
      button(id='logout-button' class='ui primary button') Logout
    div(class='four wide column')
      h2 People
      ul(id='people-list')
        each person in people
          li= person
    div(class='eight wide column')
      h2 Food choices
      div(id='food-choices' class='ui two stackable cards')
        each choice in choices
          div(class='ui card')
            div(class='content')
              div(class='header')= choice.name
              - var popup = choice.voters.join('<br>');
              div(class='meta vote' data-html=popup)= choice.votes + ' votes'
            if !choice.voted
              button(class='ui button add-vote' name=choice.name) Add vote
            else 
              button(class='ui positive button remove-vote' name=choice.name) Remove vote
      if !settings.adminAddOnly
        br
        if choices.length >= settings.maxChoices
          button(class='ui disabled button' id='create-new-choice') Add choice
        else
          button(class='ui button' id='create-new-choice') Add choice
        div(id='create-choice-modal' class='ui modal')
          i(class='close icon')
          div(class='content')
            form(id='new-choice-form' class='ui form')
              div(class='field')
                h3 Make a new choice
                input(id='new-choice' type='text' name='newChoice' value='')
              button(id='submit-new-choice' class='fluid ui primary button' type='submit') Create choice
